doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Sunscape can help you build the outdoor living structures of your dreams quickly with the latest technology and the best prices.')
        meta(name='generator' content='PugJS')
        meta(name='author' content='Steven Almeroth')

        title Sunscape Outdoors

        // Favicon
        link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')

        // Bootstrap Icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Red%20Hat%20Display' rel='stylesheet')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='assets/styles.css' rel='stylesheet')

        // Bootstrap core JS
        script(defer src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(defer src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(defer src='assets/scripts.js')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/logo-sunscape-lp-orange-50px.png' alt='logo' style='height:42px')
                button.navbar-toggler.navbar-toggler-right(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#construction') Construction
                        li.nav-item
                            a.nav-link(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold
                            | Countdown to Luxury: Pergola Pre-Orders Open for Spring 2024!
                        hr.divider
                    .col-lg-8.align-self-baseline
                        p.text-white-75.mb-5.fs-3.fw-light
                            | Indulge in elegance with our premium louvered pergolas.
                            | Time's ticking - secure your spot for a spring installation!
                        a.btn.btn-primary.btn-xl(href='#contact')
                            | Free Estimate

        // About
        section#about.page-section.bg-primary
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0
                            | We've got what you need
                        hr.divider.divider-light
                        p.text-white-75.mb-4.fs-4
                            | Sunscape is your One-stop Shop For All Things Pergola in Northeast Ohio
                        a.btn.btn-light.btn-xl(href='#contact') Get Started!

        // Construction
        section#construction.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 Quality Construction
                hr.divider
                p.text-muted.mb-5.text-center.fs-4
                    | Built tough with American precision that exceeds industry standards by expert engineers.
                .row.gx-4.gx-lg-5
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-gem.fs-1.text-primary
                            h3.h4.mb-2 Built Tough
                            p.text-muted.mb-0
                                | Crafted from aircraft-grade aluminum with welded steel anchors for durability.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-nut.fs-1.text-primary
                            h3.h4.mb-2 American Precision
                            p.text-muted.mb-0
                                | Expertly punched and cut by skilled craftsmen using industrial
                                em upcut
                                | saws.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-wind.fs-1.text-primary
                            h3.h4.mb-2 Exceeds Standards
                            p.text-muted.mb-0
                                | Our structures are rated to withstand 130 mph winds and 60 lbs/sq.ft. of snow.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-wrench.fs-1.text-primary
                            h3.h4.mb-2 Expert Installation
                            p.text-muted.mb-0
                                | Installed by top-tier technicians for a flawless outdoor experience.

        // Portfolio
        #portfolio
            .container-fluid.p-0
                .row.g-0
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg' title='Enlarge')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg' alt='pergola outside house')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Louvered Pergola
                                .project-name
                                    | Equinox
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg' title='Enlarge')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg' alt='pergola outside house')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Louvered Pergola
                                .project-name
                                    | Equinox
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg' title='Enlarge')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg' alt='pergola outside house')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Louvered Pergola
                                .project-name
                                    | StruXure
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg' title='Enlarge')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg' alt='pergola outside house')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Louvered Pergola
                                .project-name
                                    | Sunscape Outdoors
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg' title='Enlarge')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg' alt='pergola outside house')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Louvered Pergola
                                .project-name
                                    | Sunscape Outdoors
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg' title='Enlarge')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg' alt='pergola outside house')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Louvered Pergola
                                .project-name
                                    | Sunscape Outdoors

        // Call to action
        section.page-section.bg-dark.text-white
            .container.px-4.px-lg-5.text-center
                h2.mb-4 Get our free product buying guide.
                a.btn.btn-light.btn-xl(href='https://sunscape.pmx.services/buyers-guide.pdf' target="_blank")
                    | Download Now

        // Contact
        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.col-xl-6.text-center
                        h2.mt-0 Get a Free Estimate!
                        hr.divider
                        p.text-muted.mb-5.fs-4
                            | Ready to start your next project with us?
                            br
                            | Send us a messages and we will get back to you as soon as possible!
                .row.gx-4.gx-lg-5.justify-content-center.mb-5
                    .col-lg-6

                        // * * * * * * * * * * * * * * *
                        // * * SB Forms Contact Form * *
                        // * * * * * * * * * * * * * * *

                        // This form is pre-integrated with SB Forms.
                        // To make this form functional, sign up at
                        // https://startbootstrap.com/solution/contact-forms
                        // to get an API token!

                        form#contactForm(role='form' method='POST' action='https://formspree.io/f/xeqbdaab')

                            // Name input
                            .form-floating.mb-3
                                input#name.form-control(
                                    type='text'
                                    name='name'
                                    placeholder='Enter your name...'
                                    data-sb-validations='required'
                                )
                                label(for='name') Full name
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.

                            // Email address input
                            .form-floating.mb-3
                                input#email.form-control(
                                    type='email'
                                    name='email'
                                    placeholder='name@example.com'
                                    data-sb-validations='required,email'
                                )
                                label(for='email') Email address
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.

                            // Phone number input
                            .form-floating.mb-3
                                input#phone.form-control(
                                    type='tel'
                                    name='phone'
                                    placeholder='(123) 456-7890'
                                    data-sb-validations='required'
                                )
                                label(for='phone') Phone number
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | A phone number is required.

                            // Message input
                            .form-floating.mb-3
                                textarea#message.form-control(
                                    type='text'
                                    name='message'
                                    placeholder='Enter your message here...'
                                    style='height: 10rem;'
                                    data-sb-validations='required'
                                )
                                label(for='message') Tell us more about your project (optional)
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                            // Submit success message
                            //
                            // This is what your users will see when the form
                            // has successfully submitted

                            #submitSuccessMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder Form submission successful!
                                    | To activate this form, sign up at
                                    br
                                    a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                            // Submit error message
                            //
                            // This is what your users will see when there is
                            // an error submitting the form

                            #submitErrorMessage.d-none
                                .text-center.text-danger.mb-3 Error sending message!

                            // Submit Button
                            .d-grid
                                button#submitButton.btn.btn-primary.btn-xl(type='submit') Submit

                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-4.text-center.mb-5.mb-lg-0
                        i.bi-phone.fs-2.mb-3.text-muted
                        div +1 (216) 666-0300
                        | Cleveland, Ohio

        // Footer
        footer.bg-light.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2023 - PMX SERVICES, LLC
